<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Your Password</title>
    <link rel="stylesheet" href="forgot-password.css" />
  </head>
  <body>
    <div class="email-container">
      <div class="logo">
        <img
          src="https://res.cloudinary.com/abante-clothing/image/upload/v1760202610/abante-clothing-logo_yxirln.png"
          width="100"
          height="100"
          alt="abante-clothing"
        />
      </div>

      <p class="text">
        Hi <strong>{{email}}</strong>,
      </p>

      <p class="text">
        Someone recently requested a password change for your Abante Clothing
        account. If this was you, you can set a new password here:
      </p>

      <div class="button-wrapper">
        <a href="{{resetPasswordLink}}" class="button">Reset password</a>
      </div>

      <p class="text">
        If you didn’t request this, you can safely ignore and delete this
        message.
      </p>

      <p class="text">
        To keep your account secure, please don’t forward this email to anyone.
      </p>

      <p class="text">- Abante Clothing Team</p>
    </div>
  </body>
</html>
