# THIS WILL BE ALL SAMPLE PLACEHOLDERS PROD OR DEV

# -------------------------------------------------------------
# ENVIRONMENT VARIABLES
# -------------------------------------------------------------
# NOTE: Create two separate environment files for each mode:
# 1. .env.development → used when running locally (dev mode)
# 2. .env.production  → used when deployed (prod mode)
# This ensures that your API URLs and secrets are environment-specific.

# Example:

# src/.env
# LOCAL DATABASE VARIABLE
DATABASE_URL="mysql://username:password@localhost:port/database_name"
# PROD DATABASE VARIABLE
DATABASE_PROD_URL="#"

# src/.env.production
#  for production environment mode variables
NEXT_PUBLIC_PROD_PRODUCTS_URL="#"
NEXT_PUBLIC_PROD_LOGIN_URL="#"
NEXT_PUBLIC_PROD_REGISTER_URL="#"

# src/.env.development
#  for development environment mode variables
NEXT_PUBLIC_LOCAL_PRODUCTS_URL="#"
NEXT_PUBLIC_LOCAL_LOGIN_URL="#"
NEXT_PUBLIC_LOCAL_REGISTER_URL="#"
