# THIS WILL BE ALL SAMPLE PLACEHOLDERS PROD, PREVIEW AND LOCAL

# -------------------------------------------------------------
# ENVIRONMENT VARIABLES
# -------------------------------------------------------------
# NOTE: Create four separate environment files for each mode:
# 1 .env  → used for other secret variables
# 2 .env.local → used when running locally (dev mode)
# 3 .env.preview  → used when deployed (preview mode)
# 4 .env.production  → used when deployed (prod mode)
# This ensures that your API URLs and secrets are on specific-environment and working.

# SAMPLE:

# src/.env
DATABASE_URL=#
JWT_SECRET=#
STRG_NAME=#
UPLOAD_CUSTOMER_PROFILE_PIC=#
UPLOAD_TSHIRT_IMAGE=#
CLOUDINARY_CLOUD_NAME=#
CLOUDINARY_API_KEY=#
CLOUDINARY_API_SECRET=#

# src/.env.local
#  for local environment mode variables
LOCAL_LAN_IP_ADDRESS=#

# src./.env.preview
#  for preview environment mode variables
NEXT_PUBLIC_VERCEL_ENV=#
NEXT_PUBLIC_VERCEL_URL=#
NEXT_PUBLIC_PREVIEW_BASE_URL=#

# src/.env.production
#  for production environment mode variables
NEXT_PUBLIC_VERCEL_ENV=#
NEXT_PUBLIC_VERCEL_URL=#
NEXT_PUBLIC_PROD_BASE_URL=#

