# THIS WILL BE ALL SAMPLE PLACEHOLDERS PROD OR DEV

# -------------------------------------------------------------
# ENVIRONMENT VARIABLES
# -------------------------------------------------------------
# NOTE: Create two separate environment files for each mode:
# 1. .env.development → used when running locally (dev mode)
# 2. .env.production  → used when deployed (prod mode)
# 3. .env.local  → used when deployed (local mode)
# This ensures that your API URLs and secrets are environment-specific.

# Example:

# src/.env
DATABASE_URL="mysql://username:password@localhost:port/database_name"
DATABASE_PROD_URL="#"
JWT_SECRET="#"
NEXT_PUBLIC_STRG_NAME="#"

# src/.env.production
#  for production environment mode variables
NEXT_PUBLIC_PROD_PRODUCTS_URL="#"
NEXT_PUBLIC_PROD_LOGIN_URL="#"
NEXT_PUBLIC_PROD_LOGOUT_URL="#"
NEXT_PUBLIC_PROD_REGISTER_URL="#"
NEXT_PUBLIC_PROD_CUSTOMER_FEEDBACKS_URL="#"
NEXT_PUBLIC_PROD_ME_URL="#"
NEXT_PUBLIC_PROD_GetCart_URL="#"
NEXT_PUBLIC_PROD_AddToCart_URL="#"
NEXT_PUBLIC_PROD_DeleteCart_URL="#"

# src/.env.development
#  for development environment mode variables
NEXT_PUBLIC_LOCAL_PRODUCTS_URL="#"
NEXT_PUBLIC_LOCAL_LOGIN_URL="#"
NEXT_PUBLIC_LOCAL_LOGOUT_URL="#"
NEXT_PUBLIC_LOCAL_REGISTER_URL="#"
NEXT_PUBLIC_LOCAL_CUSTOMER_FEEDBACKS_URL="#"
NEXT_PUBLIC_LOCAL_ME_URL="#"
NEXT_PUBLIC_LOCAL_GetCart_URL="#"
NEXT_PUBLIC_LOCAL_AddToCart_URL="#"
NEXT_PUBLIC_LOCAL_DeleteCart_URL="#"
LOCAL_LAN_IP_ADDRESS="#"

# src/.env
#  for local environment mode variables
CLOUDINARY_CLOUD_NAME="#"
CLOUDINARY_API_KEY="#"
CLOUDINARY_API_SECRET="#"